body {
    font-family: 'Merriweather', serif; /* Witch-themed font for body */
    background-color: #1a1a1a; /* Dark background for a mystical vibe */
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

.blog-container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    /*background-color: rgba(43, 43, 43, 0.9);*/
    background-color: #2b2b2b; /* Darker background for contrast */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Space between rows */
}

.photo {
    width: 100px; /* Adjust the size of the photo */
    height: 100px; /* Adjust the height of the photo */
    margin-right: 20px; /* Space between photo and description */
    border-radius: 50%; /* Makes the image round */
    object-fit: cover; /* Ensures the image covers the area */
}

.description {
    flex-grow: 1;
}

.fig1 {
    /* Center the image and caption */
    text-align: justify;
    /* Add some space around the figure */
    margin: 20px;
}

.figcaption1 {
    /* Style for the caption */
    color: #ddd;
    font-size: 0.9em;
    margin-top: 5px;
}
  

.blog-title {
    font-family: 'Montserrat', sans-serif; /* Modern, bold font for title */
    color: #7ed957; /* Vibrant mystical green for better visibility */
    text-align: left;
    margin-bottom: 40px;
    font-size: 2em; /* Increased font size */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Enhanced text shadow for depth */
}

.magic-box {
    background-color: rgb(31, 31, 31)d2d; /* Slightly lighter box for content */
    box-shadow: 0 6px 12px rgba(108, 0, 108, 0.5); /* Deep purple shadow on hover */
    padding: 20px;
    border: 1px solid #6a0dad; /* Magical border color */
    
}

.blog-section {
    margin-bottom: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-section:hover {
    /*transform: translateY(-5px);*/
    box-shadow: 0px 0px 10px 2px #6a0dad; /* Soft glow effect */

}

.blog-section h2 {
    font-family: 'Montserrat', sans-serif; /* Consistent font for headers */
    color: #c71585; /* Witch-themed vibrant color */
    margin-bottom: 10px;
}

.blog-section p {
    color: #e0e0e0; /* Lighter text for readability */
    line-height: 1.6;
}

@media (max-width: 768px) {
    .blog-container {
        margin: 20px;
    }
}

/* References */

#references-list {
    list-style-type: none;
    padding: 0;
}

#references-list li {
    margin-bottom: 10px;
}

.publication-info {
    font-style: italic;
}

.url-info {
    margin-left: 10px;
}

a {
    color: #cccccc;
    text-decoration: underline;
}

strong {
    color: #ffffff;
}